name: Example to Validate Croissant Metadata

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate Croissant metadata
        uses: iulusoy/verify-croissant-schema@main
        with:
          file: 'croissant.json'  # Change this to your metadata file path
          python-version: '3.10'

